body {
    background-image: url("../images/grass.jpg");
}

.btn {
    margin: 5px;
    font-weight: bolder;
}

.page-header {
    height: 20vh;
    /* background-image: url("../images/GT.jpg");
    background-repeat: no-repeat;
    background-size: 65vh; */
    /* margin: 0 auto;
    background-color: white; */
    text-align: center;
}

#head {
    margin: 0 auto;
    height: 100%;
    text-align: center;
    
}

#input-label {
    color: navy;
    padding: 2px 3px;
    font-weight: bolder;
    font-size: x-large;
    
}

.custom-select {
    font-weight: bold;
}

#images {
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 0 navy;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 1rem;
}

img {
    margin-left: .15rem;
    margin-right: .15rem;
}

p {
    background-color: rgb(179, 163, 105);
    text-align: center;
    margin-left: .15rem;
    margin-right: .15rem;
}